%tr{:class => "driver_history-#{driver_history.id}"}
  %td
    %p.form-control-static
      = driver_history.event_date.to_fs(:long)
  %td
    %p.form-control-static
      = link_to driver_history.event, polymorphic_path([driver_history.driver, driver_history], action: @readonly ? nil : :edit), remote: true
      - if driver_history.documents.present?
        %i.fas.fa-paperclip{'aria-hidden' => true}
  - unless @readonly
    %td
      = link_to polymorphic_path([driver_history.driver, driver_history]), 
          remote: true, 
          method: :delete, 
          data: { confirm: translate_helper("driver_history_delete_confirm") }, 
          class: "delete-row-btn" do
        %i.far.fa-trash-alt{'aria-hidden' => true}
