:javascript
  // store list of vehicle markers
  var vehicle_markers = {};

  // SVG car icon for vehicle markers
  function carIcon(bearing) {
    var rotation = bearing || 0;
    var svg = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 47 47" style="transform: rotate(' + rotation + 'deg);">' +
      '<path d="M29.395,0H17.636c-3.117,0-5.643,3.467-5.643,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759' +
      'c3.116,0,5.644-2.527,5.644-5.644V6.584C35.037,3.467,32.511,0,29.395,0z M34.05,14.188v11.665l-2.729,0.351v-4.806' +
      'L34.05,14.188z M32.618,10.773c-1.016,3.9-2.219,8.51-2.219,8.51H16.631l-2.222-8.51C14.41,10.773,23.293,7.755,32.618,10.773z' +
      ' M15.741,21.713v4.492l-2.73-0.349V14.502L15.741,21.713z M13.011,37.938V27.579l2.73,0.343v8.196L13.011,37.938z' +
      ' M14.568,40.882l2.218-3.336h13.771l2.219,3.336H14.568z M31.321,35.805v-7.872l2.729-0.355v10.048L31.321,35.805z"' +
      ' fill="black" fill-opacity="0.8"/></svg>';
    return L.divIcon({
      html: svg,
      iconSize: [20, 20],
      iconAnchor: [10, 10],
      className: 'vehicle-marker-icon'
    });
  }

  // draw vehicle location on map
  function drawVehicle(raw_data, infoWindowOpen) {
    if(!raw_data || !raw_data.data) {
      return;
    }

    var loc_data = raw_data.data.attributes;
    if(!loc_data || !loc_data.latitude || !loc_data.longitude) {
      return;
    }

    // define marker
    var marker = L.marker([loc_data.latitude, loc_data.longitude], {
      icon: carIcon(loc_data.bearing),
      zIndexOffset: 1000
    }).addTo(map);

    // save reference as need to hide marker
    vehicle_markers[loc_data.run_id] = marker;

    var loc_id = raw_data.data.id;
    marker.on('click', function() {
      infoPopup.setLatLng(marker.getLatLng());
      infoPopup.setContent('loading...');
      infoPopup.openOn(map);

      //ajax request content
      requestVehicleInfo(loc_id);
    });

    if(infoWindowOpen && infoPopup.type == 'Vehicle' && infoPopup.run_id == loc_data.run_id) {
      // re-load info window
      marker.fire('click');
    }
  }

  // remove vehicle marker
  function removeVehicle(run_id) {
    if(vehicle_markers[run_id]) {
      map.removeLayer(vehicle_markers[run_id]);
      delete vehicle_markers[run_id];
    }
  }

  function requestVehicleInfo(loc_id) {
    $.ajax({
      url: "#{vehicle_info_cad_path}",
      data: {
        location_id: loc_id
      }
    });
  }
