:ruby
  container = 'form' if local_assigns[:container].nil?
:javascript
  $(document).ready(function() {

    function fillInAddressDetails(form, address) {
      $(form).find('.address_text').val(address.address);
      $(form).find('.address_city').val(address.city);
      $(form).find('.address_state').val(address.state);
      $(form).find('.address_zip').val(address.zip);
      $(form).find('.address_lat').val(address.lat);
      $(form).find('.address_lon').val(address.lon);
    }

    function resetAddressDetails(form) {
      $(form).find('.address_text').val('');
      $(form).find('.address_city').val('');
      $(form).find('.address_state').val('');
      $(form).find('.address_zip').val('');
      $(form).find('.address_lat').val('');
      $(form).find('.address_lon').val('');
    }

    var bounds = #{(Utility.new.get_provider_bounds(current_provider) || {}).to_json.to_s.html_safe};
    var autocompleteOptions = {};
    if(bounds.hasOwnProperty('min_lat')) {
      autocompleteOptions.bounds = bounds;
    }

    // reset values when there is a change
    $(".address_search").on('input propertychange', function() {
      resetAddressDetails($(this).parents("#{container}"));
    });

    $(".address_search").nominatimComplete(autocompleteOptions)
      .bind("geocode:result", function(event, result){
        console.log('filling place...');
        fillInAddressDetails($(this).parents("#{container}"), result);
      });
  });
