// ---------------------
// Variables


// colors

$white: #fff;

$black: #131313;

$gray: #728090;
$gray-1: $gray;
$gray-2: #A5B0BD;
$gray-3: #cdd5df;
$gray-4: #F2E5C0;

$yellow: #FEB303;
$yellow-1: $yellow;
$yellow-2: mix($white, $yellow, 40);
$yellow-3: mix($white, $yellow, 60);
$yellow-4: mix($white, $yellow, 80);
$yellow-raw: yellow;

$green: #59C276;
$green-1: $green;
$green-2: mix($white, $green, 40);
$green-3: mix($white, $green, 60);
$green-4: mix($white, $green, 80);

$blue: #55AEC2;
$blue-1: $blue;
$blue-2: mix($white, $blue, 40);
$blue-3: mix($white, $blue, 60);
$blue-4: mix($white, $blue, 80);
$blue-raw: blue;

$purple: #7D7BDF;
$purple-1: $purple;
$purple-2: mix($white, $purple, 40);
$purple-3: mix($white, $purple, 60);
$purple-4: mix($white, $purple, 80);

$pink: #B7679C;
$pink-1: $pink;
$pink-2: mix($white, $pink, 40);
$pink-3: mix($white, $pink, 60);
$pink-4: mix($white, $pink, 80);

$orange: #F4A256;
$orange-1: $orange;
$orange-2: mix($white, $orange, 40);
$orange-3: mix($white, $orange, 60);
$orange-4: mix($white, $orange, 80);

$brand-primary: #12264F;
$brand-secondary: #D22D2D;

$gold: #CC9900;

$brand-primary-muted: mix($white, $brand-primary, 33);

$input-bg: $gray-4;
$input-border: $gray-2;

$red: $brand-secondary;

// measurements

$header-height: 10rem;

$layout-pad: 4rem;
$content-pad: 3rem;
$object-pad: 2.5rem;

$button-radius: 0px;

$input-height: 34px;

$panel-border: 1px solid $gray-2;


// ---------------------
// Mixins

// TYPOGRAPHY

@mixin barlow {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}



// BROWSER PREFIXES

@mixin box-shadow($blur: .5rem, $spread: 0px, $opacity: 0.5, $color: $black, $inset: null) {
  @if $opacity < 1 {
    -webkit-box-shadow: $inset 0px 0px $blur $spread rgba($color, $opacity);
    -moz-box-shadow: $inset 0px 0px $blur $spread rgba($color, $opacity);
    box-shadow: $inset 0px 0px $blur $spread rgba($color, $opacity);  
  } @else {
    -webkit-box-shadow: $inset 0px 0px $blur $spread $color;
    -moz-box-shadow: $inset 0px 0px $blur $spread $color;
    box-shadow: $inset 0px 0px $blur $spread $color;
  }
}

@mixin un-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin gradient-vert($color, $color2: $color, $transparency1: 1, $transparency2: 0, $percentage-1: 0%, $percentage-2: 100%) {
  background: -moz-linear-gradient(top, rgba($color,$transparency1) $percentage-1, rgba($color2,$transparency2) $percentage-2); 
  background: -webkit-linear-gradient(top, rgba($color,$transparency1) $percentage-1,rgba($color2,$transparency2) $percentage-2); 
  background: linear-gradient(to bottom, rgba($color,$transparency1) $percentage-1,rgba($color2,$transparency2) $percentage-2); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#{$color2}',GradientType=0 );
}

@mixin gradient-horiz($color, $color2: $color, $transparency1: 1, $transparency2: 0, $percentage-1: 0%, $percentage-2: 100%) {
  background: -moz-linear-gradient(left, rgba($color,$transparency1) $percentage-1, rgba($color2,$transparency2) $percentage-2); 
  background: -webkit-linear-gradient(left, rgba($color,$transparency1) $percentage-1,rgba($color2,$transparency2) $percentage-2); 
  background: linear-gradient(to right, rgba($color,$transparency1) $percentage-1,rgba($color2,$transparency2) $percentage-2); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#{$color2}',GradientType=1 );
}

// LAYOUT AND DESIGN

@mixin vert-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin form-field {
  @include barlow;
  max-width: 100%;
  width: 100%;
  border: 1px solid $input-border;
  border-radius: 0px;
  @include un-box-shadow;
  font-size: 1em;
  line-height: 1.4;
  height: $input-height;
  background-color: $input-bg;
  padding-left: .25em;
  padding-right: .25em;
  &:not(select) {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  &:focus {
    border-color: $brand-primary;
    @include un-box-shadow;
  }
  &[multiple="multiple"] {
    height: $input-height*2;
  }
}

@mixin form-label {
  font-size: .95em;
  font-weight: 400;
  padding: 0;
  margin: 0;
  // text-transform: uppercase;
}

@mixin smaller-button {
  font-size: 1em;
  padding: .5em 1em;
}

@mixin last-button {
  border-right-width: 1px;
  border-top-right-radius: $button-radius;
  border-bottom-right-radius: $button-radius;
}

@mixin first-button {
  border-top-left-radius: $button-radius;
  border-bottom-left-radius: $button-radius;
}

@mixin grouped-button {
  margin: 0;
  float: left;
  border-radius: 0px;
  border-right-width: 0px;
  &.action-button, &.dropdown-toggle, &.btn-primary, .open > &.btn-primary.dropdown-toggle {
    border-right-width: 0px;
  }
  &:last-child {
    @include last-button
  }
  &:first-child {
    @include first-button
  }
}

@mixin cal-button {
  @include font-awesome;
  height: $input-height;
  padding-top: 0;
  padding-bottom: 0;
img {
    display: none;
  }
  &::before {
    content: "\f073";
  }
}

@mixin clear-before {
  &:before {
    content: '';
    display: table;
    width: 100%;
  }
}
@mixin clear-after {
  &:after {
    content: '';
    display: table;
    width: 100%;
  }
}
@mixin clear-both {
  @include clear-before;
  @include clear-after;
}

@mixin no-gutters-parent {
  margin-right: 0;
  margin-left: 0;
  >.col, > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@mixin button-hover-shadow {
  @include box-shadow($blur: 0px, $spread: 1px, $opacity: 1, $color: currentColor, $inset: inset);
}

@mixin panel-heading {
  color: $brand-primary;
  font-weight: 600;
  font-size: 16px;
}
